site_name: Babylon User Documentation
repo_url: https://github.com/Cosmo-Tech/Babylon
repo_name: Cosmo-Tech/Babylon
site_description: Cosmo Tech Babylon helps with interacting between Cosmo Tech solutions and Azure
site_url: https://cosmo-tech.github.io/Babylon-End-User-Doc/
theme:
  name: material
  logo: assets/logo.png
  font:
    code: Fira Mono
  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: orange
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: orange
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
  features:
    - content.code.copy
    - content.code.annotate
    - content.tooltips
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.expand
    - navigation.top
    - navigation.indexes
    - navigation.instant
    - navigation.footer
    - navigation.sections
  custom_dir: overrides
  icon:
    repo: fontawesome/brands/github

extra_css:
  - stylesheets/extra.css
  - stylesheets/templates.css

extra:
  version:
    provider: mike
nav:
  - Home:
    - Cosmo Tech Babylon: 'index.md'
    - License: 'Licence.md'
  - Tutorials:
      - "tutorial/index.md"
      - "tutorial/Getting_started.md"
      - "tutorial/Deploy_CosmoTech_workspace.md"
      - "tutorial/Deploy_workspace_with_existing_org_sol.md"
      - "tutorial/Destroy_workspace.md"
  - Examples: 
      - "Examples/index.md"
      - "Examples/Example_Deploy_CosmoTech_workspace.md"
      - "Examples/Example_Update_CosmoTech_workspace.md"
  - Commands:
      - "commands/babylon_commands.md"
markdown_extensions:
    - admonition
    - attr_list
    - footnotes
    - md_in_html
    - tables
    - def_list
    - pymdownx.details
    - pymdownx.snippets
    - pymdownx.superfences
    - pymdownx.critic
    - pymdownx.caret
    - pymdownx.keys
    - pymdownx.mark
    - pymdownx.tilde
    - pymdownx.tabbed:
        alternate_style: true
    - toc:
        title: "In this page"
        permalink: true
    - pymdownx.emoji:
        emoji_index: !!python/name:material.extensions.emoji.twemoji
        emoji_generator: !!python/name:material.extensions.emoji.to_svg
plugins:
    - search:
        lang:
          - en
    - mkdocstrings:
        default_handler: python
        handlers:
          python:
            options:
              docstring_style: sphinx
              line_lenth: 120
    - gen-files:
        scripts:
          - src/generate_index.py
    - literate-nav
    - mike