# Core
mkdocs~=1.6.1
mkdocs-material
pymdown-extensions~=10.7

# Plugins MkDocs
mkdocs-gen-files~=0.5.0
mkdocs-include-dir-to-nav~=1.2.0
mkdocs-literate-nav~=0.6.2
mkdocs-table-reader-plugin~=2.2.2
mkdocstrings[python]~=0.29.0

# Versioning
mike~=2.0.0

# Utils
requirements-parser~=0.11.0
