# Babylon
Babylon@git+https://github.com/Cosmo-Tech/Babylon.git@2.0.0#egg=Babylon
# Documentation generation requirements
mkdocs
mkdocs-gen-files
mkdocs-material
mkdocstrings[python]
mkdocs-literate-nav
mike
pymdown-extensions
requirements-parser
